editor:
  indentSizes: [ 2, 4, 8 ]
  modeGroups: [
    {
      name:  'scripts'
      modes: [
        'coffee'
        'javascript'
      ]
    }
    {
      name:  'styles'
      modes: [
        'css'
        'less'
      ]
    }
  ]
  themes: [
    'ambiance'
    'chaos'
    'chrome'
    'clouds'
    'clouds_midnight'
    'cobalt'
    'crimson_editor'
    'dawn'
    'dreamweaver'
    'eclipse'
    'github'
    'idle_fingers'
    'kr'
    'merbivore'
    'merbivore_soft'
    'mono_industrial'
    'monokai'
    'pastel_on_dark'
    'solarized_dark'
    'solarized_light'
    'terminal'
    'textmate'
    'tomorrow'
    'tomorrow_night'
    'tomorrow_night_blue'
    'tomorrow_night_bright'
    'tomorrow_night_eighties'
    'twilight'
    'vibrant_ink'
    'xcode'
  ]

analytics: 'UA-41395505-1'

options:
  payPal: 'KCV9FQVMYLBCC'
  userVoice:
    id:    'SP31UDolvOoOvsbuDmi5w'
    forum: 207850
